

<%session[:return_to] ||= request.referer%>
<h4 class="bg-primary">Project Name - <a href=" /requirement/<%=@rq.id%>" style="color:white" ><%=@rq.name%></a> </h4>

<div class="column" style="background-color:#eee;" >
	    <h2>Tasks</h2>
    	<!--******************** Add task to current project******************** -->
		<%= button_to "Add Task", add_task_path(@rq), method: :get, class: "button"  %> 
		<!-- ************* Task table************-->
	    <div>
	    	<%= form_tag tl_assign_to_multiple_teamlead_index_path,  method: :put do %>
	  			<table class="table table-hover" Style="overflow-x:auto ;overflow-y:auto ;">
	  				<!-- ***************** Task alloted to developers*******************-->
	  				<tr>
 						<th colspan="3"> Developers</th>
 					</tr>
	  				<% @tks=@dp_tks # render task table%>
	  				<%= render 'task_table'  %>

	  				<% if (@dps != nil) # Assign developer to selected tasks%>
						<tr>
							<td colspan="5">
							<%= select_tag("developer", options_from_collection_for_select(@dps, "id", "username"),prompt: "Select Developers") %>
							<%= hidden_field_tag :id, @rq.id%>
							<%= submit_tag "Assign Task" , class:  "button"%>
							</td>
						</tr>
					<% end %>
					<tr><td></td></tr>
					<tr><td></td></tr>
					<!-- ***************** Task alloted to testers*******************-->
					<tr>
 						<th colspan="3"> Testers</th>
 					</tr>
					<% @tks=@tt_tks # render task table%>
	  				<%= render 'task_table' %>
					
					<% if (@tts != nil) # Assign tester to selected tasks%>
						<tr>
							<td colspan="5">
							<%= select_tag(:tester, options_from_collection_for_select(@tts, "id", "username"),prompt: "Select Testers") %>
							<%= hidden_field_tag :id, @rq.id%>
							<%= submit_tag "Assign Task" , class:  "button"%>
							</td>
						</tr>
					<% end %>
				</table>
			<% end%>
		</div>
	</div>
	<div>
		<%= link_to "Back", :back %>
	</div>