
<div class="col-sm-6" style="background-color:#aaa;">
	<h4> Following are the available employees </h4>
	<div >
	    <%= form_tag assign_employee_put_admin_index_path,  method: :put do %> 
	  		<table >
			    <tr>
			      <th></th>
			      <th>User Name</th>
				</tr>
				<%  for e in @employees %>
					<tr>
						<% if e.teamlead_id == 1 && e.usertype_id!=1 && e.usertype_id!=2%> 	
							<td><%= check_box_tag "employee_ids[]", e.id %></td>
					    	<td><%= e.username%></td>
					    	<td><%= Usertype.find(e.usertype_id).utype %></td>
					    <% end %>
					</tr>
				<% end %>
			</table>
			<%= hidden_field_tag(:tid, @tl.id) %>
			<%= submit_tag "Assign",class:  "button" %>
		<% end %>
	</div>
</div>
<div class="col-sm-6" style="background-color:#ccc;padding-bottom: 40px; ">
	<h4>Employees under this TL </h4>
	<table >
		<tr>
	      <th>Employees</th>
	      <th></th>
	    </tr>
		<% for e in @employees %>
			<tr>
				<% if e.teamlead_id == @tl.id %>
					<td><%= e.username %> </td>
					<td><%=Usertype.find(e.usertype_id).utype%></td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>