<%session[:return_to] ||= request.referer%> <!-- Storing session to use whn clicked back button -->
	
	<!-- Project ID -->
	<div class="col-sm-3" >
		<div class="well">
			<h3>Project ID</h3>
			<%= @rq.id%>
		</div>
	</div><!-- /div class="col-sm-3" -->

	<!-- Project Name -->
	<div class="col-sm-3">
		<div class="well">
			<h3>Project Name</h3>
			<%= @rq.name %>
		</div>
	</div><!-- /div class="col-sm-3" -->

	<!-- Team Leader of Project  -->
	<div class="col-sm-3">
		<div class="well">
			<h3>Team Lead</h3>
			<% if @rq.teamlead_id != nil %>
				<%= @tl.username%>
			<% else %>
				Not assigned 
			<%end%>
		</div>
	</div><!-- /div class="col-sm-3" -->

	<div class="col-sm-3" >
		<div class="well">
			<h3>Last Date</h3>
			<% if @rq.end != nil %>
				<%= @rq.end.strftime(" %d-%m-%Y") %>
			<% end %>
		</div>
	</div><!-- /div class="col-sm-3" -->


<br><br><br><br><br>

<div class="col-sm-12" style="background-color:#eee;padding: 0 0">
	<div class="well" Style="margin:0;">
		<h3>Project Description</h3>
		<%= @rq.description %>
		
	</div>
</div><!-- /div class="col-sm-12" -->

<!-- open file attached to it -->
<br><br><br><br><br><br><br>
<div class="col-sm-12" style="background-color:#ddd; padding: 0 0" >
	<div class="well" Style="margin:0;">
		<h3>Files</h3>
		<% if @rq.avatar.url != nil %>
			<%= link_to "Open", @rq.avatar.url, target: "_blank" %>	
		<% end %>
	</div>	
</div><!-- /div class="col-sm-12" -->



<!-- ********************************************If Current User is Team lead ***********************************-->
<% if current_user.is_tlead? %>
	
	<center><h3 style="padding-top: 5em"><%= link_to "Tasks", make_task_tl_path(@rq.id), :method => :get, target: "_blank" %></h3></center>	

<!-- ********************************************If Current User is Admin ***********************************-->
<% elsif current_user.is_admin?%>
	<div class="row">	
		<div class="col-sm-6" style="background-color:#eee;">	
			<table class="table table-hover" Style="overflow-x:auto ;overflow-y:auto ;">
				<tr style="width: auto">
			      <th>Testers</th>
			    </tr>
				<% for u in @tts %>
						<tr>
							<td><%= u.username %> </td>
						</tr>
				<% end %>
			</table>
		</div>
		<div class="col-sm-6" style="background-color:#ddd;">
			<table class="table table-hover" Style="overflow-x:auto ;overflow-y:auto ;">
				<tr>
			      <th>Developers</th>
			    </tr>
				<% for u in @dps %>
						<tr>
							<td><%= u.username %> </td>
						</tr>
				<% end %>
			</table>
		</div>
	</div>
	<br>
	<div class="col-sm-12" style="background-color:#eee;padding: 0 0">
		<table class="table table-hover" Style="overflow-x:auto ;overflow-y:auto ;">
		    <% @tks=@a_tks %>
	  		<%= render  template: '/teamlead/_task_table.html.erb' %>
		</table>
	</div>
	<td><%=button_to ' Delete Project', requirement_path(@rq), :method => :delete, data: {confirm: "Are you sure?"}, class: "button" %></td>
	<div>
		<%= link_to "Edit", edit_requirement_path(@rq) %>
		<%= link_to "Back", :back %>
	</div>
<% end %>

					
					