
<%session[:return_to] ||= request.referer%>
<% if (current_user.present? )%> 
	<%if (current_user.is_admin? == true ) %>
		<%= button_to " New Project ","requirement/new",:method => :get%>
		<%= form_tag edit_project_multiple_admin_index_path, method: :get do %>
			<h4>All Projects</h4>
			<table class="table table-hover">
				<tr>
					<th></th>
					<th>Project ID</th>
					<th>Project Name</th>
					<th>Project description</th>
					<th>Last Date</th>
					<th>Team Lead</th>
					<th>Files</th>
				</tr>
				<% @rqs.each do |t| %>
					<tr>
						<td><%= check_box_tag "project_ids[]", t.id %></td>
						<td><%=t.id%></td>
						<td><%= t.name %></td>
						<td><%= truncate(t.description, length: 20) %></td>
						<td><%= t.end %></td>
						<% if t.teamlead_id != nil %>
							<td><%= Teamlead.find(t.teamlead_id).username%></td>
						<% else %>
							<td>Not assigned </td>
						<%end%>
						<td><%= t.avatar.url %></td>
						<td><%= link_to "Edit", edit_requirement_path(t) %></td>
						<td><%= link_to "Show", showa_path(t) %></td>			    
					</tr>
				<% end %>
			</table>
			<%= submit_tag "Edit Selected" %>
		<% end %>


	<%elsif current_user.usertype_id == 2%>
		<h4>All Projects</h4>
		<table class="table table-hover">
			<tr>
				<th></th>
				<th>Project ID</th>
				<th>Project Name</th>
				<th>Project description</th>
				<th>Last Date</th>
				<th>Files</th>
			</tr>
			<% @rqs.each do |t| %>
				<tr>
					<% if t.teamlead_id == Teamlead.find_by_username(current_user.username).id %>
						<td><%= check_box_tag "project_ids[]", t.id %></td>
						<td><%= t.id%></td>
						<td><%= t.name %></td>
						<td><%= truncate(t.description, length: 20) %></td>
						<td><%= t.end %></td>
						<td><%= truncate(t.avatar.url, length: 20) %></td>
						<td><%= link_to "Show", requirement_path(t) %></td>		
						<td><%= link_to "Make task ", make_task_tl_path(t), :method => :get %>
		 				</td>	    
					<%end%>
				</tr>
			<% end %>
		</table>



	<%elsif current_user.usertype_id == 3 %>
		<div>
			<%= form_tag done_multiple_update_developer_index_path,  method: :put do %>
				<table class="table table-hover" Style="overflow-x:auto ;overflow-y:auto ;">
				    <tr>
				      <th></th>
				      <th>Task ID</th>
				      <th>Task Name</th>
				      <th>Task Type</th>
				      <th>Assigned Date</th>
				      <th>End Date</th>
				      <th>Attachement</th>
				      <th>Status</th>
				    </tr>


				    <% if @tks != nil %>
					    <% @tks.each do |t| %>
						    <tr>
						    	<td>
							    	<% if t.status_id ==1 or t.status_id == 2 %>
							    		<%= check_box_tag "tasks_ids[]", t.id %>
									<% end%>
								</td>

					  			<td><%=t.id%></td>

						    	<td><%= t.name %></td>

						    	<% if t.tasktype_id ==1 %>
						    		<td>Issue</td>
						    	<% elsif t.tasktype_id ==2 %>
						    		<td>Change Request</td>
						    	<% else %>
						    		<td>Enhancement</td>
						    	<% end %>

						    	<td><%= t.updated_at  %></td>

							    <td><%= t.end %></td>
							    <td>         </td>
							    <td><% if(t.status_id==nil)%>
									    	Created
								    	<%elsif(t.status_id==1) %>
								    		Assigned
								    	<%elsif(t.status_id==2) %>
								    		Marked
								    	<%elsif(t.status_id==3) %>
								    		On-Review
								    	<%elsif(t.status_id==4) %>
								    		Reviewed
								    	<%elsif(t.status_id==5) %>
								    		Closed
								    	<%elsif(t.status_id==6) %>
								    		Reopened
								    	<%else%>
								    	<%end%>
							    	</td>
						    	<td><%= link_to ' Show ', task_path(t)%></td>
							</tr>
						<% end%>
					<% end %>
				</table>
				<%= submit_tag "Toggle Tasks" %>
			<% end%>
		</div>

	<%elsif current_user.usertype_id == 4%>
		<div>
			<%= form_tag done_multiple_update_tester_index_path,  method: :put do %>
				<table class="table table-hover" Style="overflow-x:auto ;overflow-y:auto ;">
				    <tr>
				      <th></th>
				      <th>Task ID</th>
				      <th>Task Name</th>
				      <th>Task Type</th>
				      <th>Assigned Date</th>
				      <th>End Date</th>
				      <th>Attachement</th>
				      <th>Status</th>
				    </tr>


				    <% if @tks != nil %>
					    <% @tks.each do |t| %>
						    <tr>
						    	<td>
							    	<% if t.status_id ==3 or t.status_id == 4 %>
							    		<%= check_box_tag "tasks_ids[]", t.id %>
									<% end%>
								</td>

					  			<td><%=t.id%></td>

						    	<td><%= t.name %></td>

						    	<% if t.tasktype_id ==1 %>
						    		<td>Issue</td>
						    	<% elsif t.tasktype_id ==2 %>
						    		<td>Change Request</td>
						    	<% else %>
						    		<td>Enhancement</td>
						    	<% end %>

						    	<td><%= t.updated_at  %></td>

							    <td><%= t.end %></td>
							    <td>         </td>
							    <td><% if(t.status_id==nil)%>
									    	Created
								    	<%elsif(t.status_id==1) %>
								    		Assigned
								    	<%elsif(t.status_id==2) %>
								    		Marked
								    	<%elsif(t.status_id==3) %>
								    		On-Review
								    	<%elsif(t.status_id==4) %>
								    		Reviewed
								    	<%elsif(t.status_id==5) %>
								    		Closed
								    	<%elsif(t.status_id==6) %>
								    		Reopened
								    	<%else%>
								    	<%end%>
							    	</td>
						    	<td><%= link_to ' Show ', task_path(t)%></td>
							</tr>
						<% end%>
					<% end %>
				</table>
				<%= submit_tag "Toggle Tasks" %>
			<% end%>
		</div>
	<% end %>
	<%else%>
		<h2>Please Log-In </h2>
<% end %>