<%session[:return_to] ||= request.referer%> <!--storing the url in the session hash, which is available across multiple requests -->


<!--***************************************************If current user is admin**********************************-->
<% if (current_user.present? )%> 
	<%if (current_user.is_admin? == true ) %>
		<%= button_to " New Project ","requirement/new",:method => :get , class: "button"%> <!-- Making new project -->
		<%= form_tag edit_project_multiple_admin_index_path, method: :get do %>
			<h4>All Projects</h4>
			<table class="table table-hover">
				<tr>
					<th></th>
					<th>Project ID</th>
					<th>Project Name</th>
					<th>Project description</th>
					<th>Last Date</th>
					<th>Team Lead</th>
					<th>Files</th>
					<th></th>
					<th></th>
				</tr>
				<% @rqs.each do |t| %>
					<tr>
						<td><%= check_box_tag "project_ids[]", t.id %></td>
						<td><%=t.id%></td>
						<td><%= t.name %></td>
						<td><%= truncate(t.description, length: 20) %></td>
						<td><% if t.end != nil %>
					    		<%= t.end.strftime(" %d-%m-%Y") %>
					    	<% end %>
						</td>
						<% if t.teamlead_id != nil %>
							<td><%= find_tlead(t) %></td>
						<% else %>
							<td>Not assigned </td>
						<%end%>
						<td><% if t.avatar.url != nil %>
								<%= link_to "Open", t.avatar.url, target: "_blank" %>	
							<% end %>
						</td>
						<td><%= link_to "Edit", edit_requirement_path(t) %></td>
						<td><%= link_to "Show", requirement_path(t) %></td>			    
					</tr>
				<% end %>
			</table>
			<%= submit_tag "Edit Selected" , class: "button"%>
		<% end %>

     <!--*********************************************If current user is team lead**********************************-->
	<%elsif current_user.is_tlead?%>
		<h4>All Projects</h4>
		<table class="table table-hover">
			<tr>
				<th></th>
				<th>Project ID</th>
				<th>Project Name</th>
				<th>Project description</th>
				<th>Last Date</th>
				<th>Files</th>
				<th></th>
				<th></th>
			</tr>
			<% @rqs.each do |t| %>
				<tr>
					<td><%= check_box_tag "project_ids[]", t.id %></td>
					<td><%= t.id%></td>
					<td><%= t.name %></td>
					<td><%= truncate(t.description, length: 20) %></td>
					<td><% if t.end != nil %>
					    	<%= t.end.strftime(" %d-%m-%Y") %>
					    <% end %>
					</td>
					<td><% if t.avatar.url != nil %>
							<%= link_to "Open", t.avatar.url, target: "_blank" %>	
						<% end %>
					</td>
					<td><%= link_to "Show", requirement_path(t) %></td>		
					<td><%= link_to "Make task ", make_task_tl_path(t), :method => :get %>
	 				</td>
				</tr>
			<% end %>
		</table>

	<!--*********************************************If current user is developer**************************************-->
	<%elsif current_user.is_developer? %>
		<div>
			<%= form_tag done_multiple_update_developer_index_path,  method: :put do %>
				<table class="table table-hover" Style="overflow-x:auto ;overflow-y:auto ;">
				    <%= render 'task_table'  %>		
				</table>
				<%= submit_tag "Toggle Tasks" %>
			<% end%>
		</div>
	<!--*********************************************If current user is tester **************************************-->
	<%elsif current_user.is_tester?%>
		<div>
			<%= form_tag done_multiple_update_tester_index_path,  method: :put do %>
				<table class="table table-hover" Style="overflow-x:auto ;overflow-y:auto ;">
				    <%= render 'task_table'  %>	
				</table>
				<%= submit_tag "Toggle Tasks" %>
			<% end%>
		</div>
	<% end %>
	<!--*********************************************If current user is guest user **************************************-->
<%else%>
	<h2>Please <%= link_to "Sign In", new_user_session_path  %> to continue.</h2>
<% end %>