<%= form_tag delete_notice_home_index_path, method: :delete do %>
	<table class="table table-hover">
		<tr>
			<th></th>
			<th>Notifications</th>
			<th></th>
		</tr>
		<% @notices.each do |t| %>
			<tr>
				<td><%= check_box_tag "notice_ids[]", t.id %></td>
				<%if t.checked == true %>
					<td><%= t.notice %></td>
				<% else %>
					<td><mark><%= t.notice %></mark></td>
				<%end%>
				<td><a rel="nofollow" data-method="delete" href="<%=notification_path(t)%>"><i class="glyphicon glyphicon-trash"></i></a>	</td>    
			</tr>
		<% end %>
	</table>
	<%= submit_tag "Delete Selected" ,data: {confirm: "Are you sure?"}, class: "button"%>
<% end %>

<%@notices.update_all checked: true%>

<div style="margin: 2em 0 0 0">
	<%= button_to "Delete All", delete_all_path(current_user.id), method: :delete, data: {confirm: "Are you sure?"}, class: "danger"  %>
</div>

