
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ticket</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    * {
        box-sizing: border-box;
    }
  </style>
</head>


<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div><!--div class="navbar-header"-->

      <!--navigation bar -->
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Home", root_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%if !current_user.present? %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li> 
            <li><%= link_to "Sign In", new_user_session_path  %></li>

          <% else %>
            <li><%= link_to "Profile", edit_user_registration_path %></li>
            <li><%= link_to("Logout", destroy_user_session_path, method:  :delete) %></li>
            <li class="round-image-50"><%= image_tag current_user.avatar.url(:thumb) %></li>
          <% end %>
        </ul>
      </div><!--div class="collapse navbar-collapse"-->
    </div><!--div class="container-fluid"-->
  </nav><!--nav class="navbar navbar-inverse"-->
  
  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-10 text-left"> 
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <p>
          <!--Message on signing in-->
          <%if current_user.present? %>
            <% if current_user.is_admin? %>
              <p class="text-success"><%= "Hello Manager:"%> <%=current_user.username %></p>
            <% elsif current_user.is_tlead? %>
              <p class="text-success"><%= " Signed in as Team Lead:"%> <%=current_user.username %> </p>
            <% elsif current_user.is_developer? %>
              <p class="text-success"><%= "Signed in as Developer:"%> <%=current_user.username %></p>
            <% elsif current_user.is_tester? %>
              <p class="text-success"><%= "Signed in as Tester:"%> <%=current_user.username %></p>
            <% end %>
          <% end%>  
        </p>


        
        <%= yield %>



      </div><!--div class="col-sm-10 text-left" -->

      <% if (current_user.present? )%> 
        <div class="col-sm-2 sidenav">
          <div class="well">           
            <a href="/notification">
              <% count_function #application Helper to count unread notification %>
              
              <%if @count != 0 %>
                <button class="w3-btn w3-red", style="color: red;height: 3em; width: 9em;">Notifications
                <strong><sup><span class="w3-badge w3-red" style="font-size: 2em; "><%=@count%></span></sup></strong>
                </button>
              <%else%>
                <button class="w3-btn", style="height: 3em; width: 9em;">
                  
                  Notifications
                </button>
              <%end%>
            </a>
          </div><!--div class="well"-->

          <%if (current_user.is_admin? == true ) %>
            <div class="well">
              <%= link_to "Teamlead", '/admin/teamlead' %>  
            </div><!--div class="well"-->
            <div class="well">
              <%= link_to "Developers", '/admin/developers' %>  
            </div><!--div class="well"-->
            <div class="well">
              <%= link_to "Tester", '/admin/tester' %>
            </div><!--div class="well"-->
          <%elsif current_user.usertype_id == 2%>
            <div class="well">
              <%= link_to "Developers", '/teamlead/developers' %>
            </div><!--div class="well"-->
            <div class="well">
              <%= link_to "Tester", '/teamlead/tester' %>  
            </div><!--div class="well"-->
          <%end%>
        </div><!--div class="col-sm-2 sidenav"-->
      <%end%>
    </div><!--div class="row content"-->
  </div><!--div class="container-fluid text-center>-->
  <footer class="container-fluid fixed-bottom">
    <p>Copyright@HimanshuG</p>
  </footer>
</body>
</html>
